# Project Title
---

Group Name

Team members:
- Husain Radhi
- Hussain Darwish

## Introduction 
__Introduction to the topic__ 

The healthcare and welfare widely varies based on country. We were tasked by the World Health Organization to find out which countries are in most need of healthcare based on databases they provided which include population, life expectency and Gross National Income per capita

---

## Problem Statement

Which countries are in dire need for improving healthcare to increase their life expectency?

## Objectives:
__Questions that will guide the analysis to solve the problem__
1) Which countries have low life expectency?
2) Which countries have a high population and low life expectency?
3) How can we analyze and visualize the countries which need healthcare support?

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
p_df= pd.read_csv("population.csv")
le_df=pd.read_csv("life_expectancy.csv")
gni_df= pd.read_csv("gni_per_cap_atlas_method_con2021.csv")

In [4]:
p_df.dtypes

country    object
1800       object
1801       object
1802       object
1803       object
            ...
2096       object
2097       object
2098       object
2099       object
2100       object
Length: 302, dtype: object

In [5]:
p_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
4,United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
193,Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
194,South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
195,Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
196,Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [6]:
p_df.describe()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
count,197,197,197,197,197,197,197,197,197,197,...,196,196,196,196,196,196,196,196,196,196
unique,197,164,183,186,185,179,185,180,181,180,...,190,195,186,190,190,185,187,187,182,189
top,Afghanistan,2.5M,2M,1.01M,2.01M,2.02M,2.02M,2.03M,2.03M,2.04M,...,108M,108M,109M,109M,6.61M,1.68M,110M,17M,13.2M,87.1M
freq,1,6,4,3,3,4,4,3,3,5,...,2,2,2,2,3,3,2,3,3,2

In [7]:
p_df.set_index("country", inplace=True) #setting the country as the index

In [8]:
p_df #viewing the dataframe with the country as the index

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,416k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,1.5M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,856k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [9]:
p_df.isnull().values.any()

np.True_

In [10]:
p_df.isnull().sum() #checking if there are columns with nulls

1800    0
1801    0
1802    0
1803    0
1804    0
       ..
2096    1
2097    1
2098    1
2099    1
2100    1
Length: 301, dtype: int64

In [11]:
p_df.isnull().sum().sum() #summing all null values

np.int64(100)

In [12]:
p_df[p_df.isnull().any(axis=1)] #filtering the rows with null values

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Holy See,905,905,905,905,905,905,905,905,905,905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
p_df.drop("Holy See", inplace=True) #dropping Holy See country (row) as it has null values
display(p_df)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,416k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,1.5M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,856k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [14]:
p_df.isnull().sum().sum() #checking if there are nulls again by summing all of them

np.int64(0)

In [15]:
def conv(num):
    ''' Creating a function that replaces "M", "k", and "B" symbols with an empty string then multiplies the remaining number in the cell with the
    corresponding symbol value (k = 1000 for e.g.)'''
    x=0
    if 'M' in num:
        x=float(num.replace('M',''))*1000000
    elif 'k' in num:
        x=float(num.replace('k',''))*1000
    elif 'B' in num:
        x=float(num.replace('B',''))*1000000000
    else:
        x=float(num)
    return x

In [16]:
for name in p_df: #loop to apply the function to each value by column, it also prints column name to see if there are errors
    print(name)
    p_df[name] = p_df[name].apply(conv)

1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100

In [17]:
p_df["2025"].describe()

count          196.00
mean      41691038.78
std      150309584.99
min          11600.00
25%        2210000.00
50%        9430000.00
75%       31650000.00
max     1450000000.00
Name: 2025, dtype: float64

In [18]:
p_df[["2025"]].sort_values(by="2025")

                       2025
country
Tuvalu             11600.00
Nauru              13000.00
Palau              18000.00
San Marino         33600.00
Monaco             36100.00
...                     ...
Pakistan       250000000.00
Indonesia      282000000.00
United States  344000000.00
China         1420000000.00
India         1450000000.00

[196 rows x 1 columns]

In [19]:
gni_df= pd.read_csv("gni_per_cap_atlas_method_con2021.csv")

In [20]:
gni_df.dtypes

country     object
1800       float64
1801       float64
1802       float64
1803       float64
            ...
2046        object
2047        object
2048        object
2049        object
2050        object
Length: 252, dtype: object

In [21]:
gni_df.set_index("country", inplace=True)

In [22]:
gni_df[gni_df.isnull().any(axis=1)]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
gni_df.drop("Liechtenstein",inplace=True)

In [24]:
display(gni_df)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,...,751,767,783,800,817,834,852,870,888,907
Angola,517.00,519.00,522.00,524.00,525.00,528.00,531.00,533.00,536.00,537.00,...,2770,2830,2890,2950,3010,3080,3140,3210,3280,3340
Albania,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,...,9610,9820,10k,10.2k,10.5k,10.7k,10.9k,11.1k,11.4k,11.6k
United Arab Emirates,738.00,740.00,743.00,746.00,749.00,751.00,754.00,757.00,760.00,763.00,...,47.9k,48.9k,50k,51k,52.1k,53.2k,54.3k,55.5k,56.7k,57.9k
Argentina,794.00,797.00,799.00,802.00,805.00,808.00,810.00,813.00,816.00,819.00,...,12.8k,13.1k,13.4k,13.6k,13.9k,14.2k,14.5k,14.8k,15.2k,15.5k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,373.00,373.00,373.00,373.00,373.00,373.00,373.00,374.00,374.00,374.00,...,5330,5440,5560,5670,5790,5920,6040,6170,6300,6440
Yemen,197.00,198.00,198.00,199.00,199.00,200.00,200.00,201.00,202.00,202.00,...,1440,1470,1500,1530,1560,1590,1630,1660,1700,1730
South Africa,800.00,791.00,782.00,773.00,765.00,724.00,724.00,786.00,687.00,672.00,...,7630,7790,7960,8130,8300,8480,8660,8840,9030,9220
Zambia,213.00,214.00,215.00,215.00,215.00,216.00,216.00,217.00,217.00,218.00,...,1260,1290,1320,1340,1370,1400,1430,1460,1490,1520
Zimbabwe,443.00,444.00,444.00,445.00,445.00,446.00,446.00,446.00,447.00,448.00,...,1560,1590,1620,1660,1690,1730,1770,1800,1840,1880

In [25]:
gni_df = gni_df.astype(str) #I converted the data types to strings as you get an error if you use the function on float data types (if I convert them to objects they will also be treated as float64)

In [26]:
gni_df.dtypes

1800    object
1801    object
1802    object
1803    object
1804    object
         ...
2046    object
2047    object
2048    object
2049    object
2050    object
Length: 251, dtype: object

In [27]:
for name in gni_df: #loop to apply the function to each value by column, it also prints column name to se
    print(name)
    gni_df[name] = gni_df[name].apply(conv)

1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050

In [28]:
gni_df.dtypes

1800    float64
1801    float64
1802    float64
1803    float64
1804    float64
         ...
2046    float64
2047    float64
2048    float64
2049    float64
2050    float64
Length: 251, dtype: object

In [29]:
gni_df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,...,751.00,767.00,783.00,800.00,817.00,834.00,852.00,870.00,888.00,907.00
Angola,517.00,519.00,522.00,524.00,525.00,528.00,531.00,533.00,536.00,537.00,...,2770.00,2830.00,2890.00,2950.00,3010.00,3080.00,3140.00,3210.00,3280.00,3340.00
Albania,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,207.00,...,9610.00,9820.00,10000.00,10200.00,10500.00,10700.00,10900.00,11100.00,11400.00,11600.00
United Arab Emirates,738.00,740.00,743.00,746.00,749.00,751.00,754.00,757.00,760.00,763.00,...,47900.00,48900.00,50000.00,51000.00,52100.00,53200.00,54300.00,55500.00,56700.00,57900.00
Argentina,794.00,797.00,799.00,802.00,805.00,808.00,810.00,813.00,816.00,819.00,...,12800.00,13100.00,13400.00,13600.00,13900.00,14200.00,14500.00,14800.00,15200.00,15500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,373.00,373.00,373.00,373.00,373.00,373.00,373.00,374.00,374.00,374.00,...,5330.00,5440.00,5560.00,5670.00,5790.00,5920.00,6040.00,6170.00,6300.00,6440.00
Yemen,197.00,198.00,198.00,199.00,199.00,200.00,200.00,201.00,202.00,202.00,...,1440.00,1470.00,1500.00,1530.00,1560.00,1590.00,1630.00,1660.00,1700.00,1730.00
South Africa,800.00,791.00,782.00,773.00,765.00,724.00,724.00,786.00,687.00,672.00,...,7630.00,7790.00,7960.00,8130.00,8300.00,8480.00,8660.00,8840.00,9030.00,9220.00
Zambia,213.00,214.00,215.00,215.00,215.00,216.00,216.00,217.00,217.00,218.00,...,1260.00,1290.00,1320.00,1340.00,1370.00,1400.00,1430.00,1460.00,1490.00,1520.00
Zimbabwe,443.00,444.00,444.00,445.00,445.00,446.00,446.00,446.00,447.00,448.00,...,1560.00,1590.00,1620.00,1660.00,1690.00,1730.00,1770.00,1800.00,1840.00,1880.00

In [30]:
le_df=pd.read_csv("life_expectancy.csv")

In [31]:
le_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.20,28.20,28.20,28.20,28.20,28.20,28.10,28.10,28.10,...,75.50,75.70,75.80,76.00,76.10,76.20,76.40,76.50,76.60,76.80
1,Angola,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,...,78.80,79.00,79.10,79.20,79.30,79.50,79.60,79.70,79.90,80.00
2,Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,87.40,87.50,87.60,87.70,87.80,87.90,88.00,88.20,88.30,88.40
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,...,82.40,82.50,82.60,82.70,82.80,82.90,83.00,83.10,83.20,83.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,...,79.80,79.90,80.00,80.10,80.30,80.40,80.50,80.60,80.70,80.80
191,Yemen,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,...,76.90,77.00,77.10,77.30,77.40,77.50,77.60,77.80,77.90,78.00
192,South Africa,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,...,76.40,76.50,76.70,76.80,77.00,77.10,77.30,77.40,77.50,77.70
193,Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,75.80,76.00,76.10,76.30,76.40,76.50,76.70,76.80,77.00,77.10
194,Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,73.30,73.40,73.50,73.70,73.80,73.90,74.00,74.20,74.30,74.40

In [34]:
le_df.set_index("country", inplace=True)

In [35]:
le_df.isnull().sum()

1800    9
1801    9
1802    9
1803    9
1804    9
       ..
2096    9
2097    9
2098    9
2099    9
2100    9
Length: 301, dtype: int64

In [36]:
le_df[le_df.isnull().any(axis=1)]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dominica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
St. Kitts and Nevis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
le_df.drop(["Andorra", "Dominica", "St. Kitts and Nevis", "Monaco", "Marshall Islands", "Nauru", "Palau", "San Marino", "Tuvalu"], axis=0, inplace=True) #dropping countries with nulls

In [38]:
le_df[le_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, ...]
Index: []

[0 rows x 301 columns]

In [39]:
le_df #checking the databse again

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.20,28.20,28.20,28.20,28.20,28.20,28.10,28.10,28.10,28.10,...,75.50,75.70,75.80,76.00,76.10,76.20,76.40,76.50,76.60,76.80
Angola,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,...,78.80,79.00,79.10,79.20,79.30,79.50,79.60,79.70,79.90,80.00
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,87.40,87.50,87.60,87.70,87.80,87.90,88.00,88.20,88.30,88.40
United Arab Emirates,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,...,82.40,82.50,82.60,82.70,82.80,82.90,83.00,83.10,83.20,83.30
Argentina,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,...,86.20,86.30,86.50,86.50,86.70,86.80,86.90,87.00,87.10,87.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,...,79.80,79.90,80.00,80.10,80.30,80.40,80.50,80.60,80.70,80.80
Yemen,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,...,76.90,77.00,77.10,77.30,77.40,77.50,77.60,77.80,77.90,78.00
South Africa,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,...,76.40,76.50,76.70,76.80,77.00,77.10,77.30,77.40,77.50,77.70
Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,75.80,76.00,76.10,76.30,76.40,76.50,76.70,76.80,77.00,77.10
Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,73.30,73.40,73.50,73.70,73.80,73.90,74.00,74.20,74.30,74.40

In [33]:
le_df.isnull().sum().sum() #checking the number of nulls in the whole database to make sure they are gone

np.int64(2079)

### Data Handling: 
__Cleaning, transforming, and combining data__

In [44]:
le_df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2093,2094,2095,2096,2097,2098,2099,2100,le_avg_2020_to_2025,life_expectency_category
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.20,28.20,28.20,28.20,28.20,28.20,28.10,28.10,28.10,28.10,...,75.80,76.00,76.10,76.20,76.40,76.50,76.60,76.80,64.40,NaN
Angola,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,...,79.10,79.20,79.30,79.50,79.60,79.70,79.90,80.00,66.23,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,87.60,87.70,87.80,87.90,88.00,88.20,88.30,88.40,78.78,High
United Arab Emirates,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,...,82.60,82.70,82.80,82.90,83.00,83.10,83.20,83.30,74.37,NaN
Argentina,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,...,86.50,86.50,86.70,86.80,86.90,87.00,87.10,87.20,76.75,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,25.40,...,80.00,80.10,80.30,80.40,80.50,80.60,80.70,80.80,70.88,NaN
Yemen,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,...,77.10,77.30,77.40,77.50,77.60,77.80,77.90,78.00,68.08,NaN
South Africa,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,33.50,...,76.70,76.80,77.00,77.10,77.30,77.40,77.50,77.70,65.78,NaN
Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,76.10,76.30,76.40,76.50,76.70,76.80,77.00,77.10,64.03,NaN
Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,73.50,73.70,73.80,73.90,74.00,74.20,74.30,74.40,61.72,NaN

In [45]:
le_df["le_avg_2020_to_2025"]=le_df.loc[:,"2020":"2025"].mean(axis=1) #finding the average of the last 5 years to use as a more accurate metric for recent life expectency

In [47]:
le_df.loc[le_df["le_avg_2020_to_2025"]>75,"life_expectency_category"]= "High"
le_df.loc[(le_df["le_avg_2020_to_2025"]>=65) & (le_df["le_avg_2020_to_2025"]<=75) ,"life_expectency_category"]= "Medium"
le_df.loc[le_df["le_avg_2020_to_2025"]<65,"life_expectency_category"]= "Low"
le_df["life_expectency_category"]

country
Afghanistan                Low
Angola                  Medium
Albania                   High
United Arab Emirates    Medium
Argentina                 High
                         ...
Samoa                   Medium
Yemen                   Medium
South Africa            Medium
Zambia                     Low
Zimbabwe                   Low
Name: life_expectency_category, Length: 186, dtype: object

In [48]:
le_df_2020_to_2025=le_df[le_df["life_expectency_category"]=="Low"][["2020","2021","2022","2023","2024","2025"]] #We were investigating whether life expectency was decreasing in some countries, but it was increasing
le_df_2020_to_2025

                          2020  2021  2022  2023  2024  2025
country
Afghanistan              63.40 64.00 64.30 64.60 64.90 65.20
Burundi                  64.00 64.50 64.90 65.20 65.50 65.80
Burkina Faso             61.80 62.50 62.90 63.30 63.60 64.00
Botswana                 61.60 62.50 62.60 62.70 62.70 62.80
Central African Republic 52.40 53.10 53.40 53.60 53.90 54.20
Cameroon                 63.50 64.00 64.30 64.60 64.90 65.20
Eritrea                  64.00 64.50 64.80 65.10 65.40 65.70
Micronesia, Fed. Sts.    64.20 64.30 64.50 64.50 64.70 64.80
Guinea                   61.30 61.90 62.20 62.50 62.70 63.00
Guinea-Bissau            61.00 61.60 61.90 62.20 62.50 62.80
Haiti                    63.90 64.40 64.70 64.90 65.20 65.40
Kiribati                 60.80 61.20 61.40 61.60 61.80 61.90
Lesotho                  52.00 52.60 53.00 53.30 53.70 54.00
Mali                     62.00 62.60 63.00 63.30 63.60 64.00
Mozambique               58.40 59.30 59.60 59.90 60.20 60.50
Niger                    62.60 63.20 63.60 63.90 64.20 64.60
Solomon Islands          59.20 59.40 59.50 59.60 59.70 59.80
Sierra Leone             61.90 62.60 63.00 63.40 63.80 64.20
Somalia                  58.60 59.10 59.40 59.60 59.90 60.20
South Sudan              63.90 64.30 64.60 64.90 65.20 65.40
Eswatini                 58.00 59.10 59.30 59.50 59.60 59.90
Chad                     60.50 61.00 61.30 61.60 61.90 62.20
Zambia                   63.10 63.80 64.00 64.20 64.40 64.70
Zimbabwe                 60.70 61.50 61.70 61.90 62.10 62.40

In [49]:
le_low_avg_df_2020_to_2025=le_df[le_df["life_expectency_category"]=="Low"][["le_avg_2020_to_2025"]] #We were investigating whether life expectency was decreasing in some countries, but it was increasing
le_low_avg_df_2020_to_2025.shape

(24, 1)

In [51]:
gni_df["gni_avg_2020_to_2025"]=gni_df.loc[:,"2020":"2025"].mean(axis=1) #finding the average of the last 5 years to use as a more accurate metric for recent life expectency

In [52]:
gni_df["gni_avg_2020_to_2025"]

country
Afghanistan              524.17
Angola                  2100.00
Albania                 5816.67
United Arab Emirates   39116.67
Argentina               9608.33
                         ...
Samoa                   3861.67
Yemen                    896.67
South Africa            6095.00
Zambia                  1105.00
Zimbabwe                1168.33
Name: gni_avg_2020_to_2025, Length: 190, dtype: float64

In [53]:
gni_df.loc[gni_df["gni_avg_2020_to_2025"]>14005,"Income_class"]= "High income"
gni_df.loc[(gni_df["gni_avg_2020_to_2025"]>=1146) & (gni_df["gni_avg_2020_to_2025"]<=14005) ,"Income_class"]= "Middle income"
gni_df.loc[gni_df["gni_avg_2020_to_2025"]<1146,"Income_class"]= "Low income"
gni_df["Income_class"]

C:\Users\hussa\AppData\Local\Temp\ipykernel_14036\2347523045.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  gni_df.loc[gni_df["gni_avg_2020_to_2025"]>14005,"Income_class"]= "High income"

country
Afghanistan                Low income
Angola                  Middle income
Albania                 Middle income
United Arab Emirates      High income
Argentina               Middle income
                            ...
Samoa                   Middle income
Yemen                      Low income
South Africa            Middle income
Zambia                     Low income
Zimbabwe                Middle income
Name: Income_class, Length: 190, dtype: object

In [54]:
gni_low_income_avg_df_2020_to_2025=gni_df[gni_df["Income_class"]=="Low income"][["gni_avg_2020_to_2025"]] #We were investigating whether life expectency was decreasing in some countries, but it was increasing
gni_low_income_avg_df_2020_to_2025

                          gni_avg_2020_to_2025
country
Afghanistan                             524.17
Burundi                                 232.00
Burkina Faso                            810.83
Central African Republic                532.00
Congo, Dem. Rep.                        567.83
Eritrea                                 479.17
Ethiopia                                998.17
Guinea                                 1091.67
Gambia                                  814.33
Guinea-Bissau                           796.17
Liberia                                 599.67
Madagascar                              493.83
Mali                                    870.17
Mozambique                              498.50
Malawi                                  611.33
Niger                                   627.17
Rwanda                                  872.00
Sudan                                   636.00
Sierra Leone                            530.00
Somalia                                 322.67
South Sudan                            1062.83
Chad                                    627.00
Togo                                    966.33
Tajikistan                             1130.00
Tanzania                               1108.33
Uganda                                  858.00
Yemen                                   896.67
Zambia                                 1105.00

In [56]:
p_df["p_avg_2020_to_2025"]=p_df.loc[:,"2020":"2025"].mean(axis=1)

In [57]:
p_avg_df=p_df[["p_avg_2020_to_2025"]].copy()
p_avg_df

                      p_avg_2020_to_2025
country
Afghanistan                  41716666.67
Angola                       36150000.00
Albania                       2840000.00
Andorra                         79583.33
United Arab Emirates          9480000.00
...                                  ...
Samoa                          223833.33
Yemen                        34100000.00
South Africa                 60200000.00
Zambia                       20300000.00
Zimbabwe                     16516666.67

[196 rows x 1 columns]

In [58]:
merge1= pd.merge(gni_low_income_avg_df_2020_to_2025, le_low_avg_df_2020_to_2025, on="country") #merging two databases: low income gni average and low life expectency average
merge1

                          gni_avg_2020_to_2025  le_avg_2020_to_2025
country
Afghanistan                             524.17                64.40
Burundi                                 232.00                64.98
Burkina Faso                            810.83                63.02
Central African Republic                532.00                53.43
Eritrea                                 479.17                64.92
Guinea                                 1091.67                62.27
Guinea-Bissau                           796.17                62.00
Mali                                    870.17                63.08
Mozambique                              498.50                59.65
Niger                                   627.17                63.68
Sierra Leone                            530.00                63.15
Somalia                                 322.67                59.47
South Sudan                            1062.83                64.72
Chad                                    627.00                61.42
Zambia                                 1105.00                64.03

In [67]:
merged_avg_df= pd.merge(merge1, p_avg_df, on="country") #joined databases
merged_avg_df

,gni_avg_2020_to_2025,le_avg_2020_to_2025,p_avg_2020_to_2025
country,,,
Afghanistan,524.17,64.40,41716666.67
Burundi,232.00,64.98,13066666.67
Burkina Faso,810.83,63.02,22966666.67
Central African Republic,532.00,53.43,5690000.00
Eritrea,479.17,64.92,3720000.00
Guinea,1091.67,62.27,14033333.33
Guinea-Bissau,796.17,62.00,2130000.00
Mali,870.17,63.08,22966666.67
Mozambique,498.50,59.65,33483333.33
Niger,627.17,63.68,26750000.00
Sierra Leone,530.00,63.15,8700000.00
Somalia,322.67,59.47,17883333.33
South Sudan,1062.83,64.72,11016666.67
Chad,627.00,61.42,18000000.00
Zambia,1105.00,64.03,20300000.00

### Analysis: 
__Answering the objectives through data analysis__

In [76]:
merged_avg_df['PopNorm'] = (merged_avg_df['p_avg_2020_to_2025'] - merged_avg_df['p_avg_2020_to_2025'].min()) / (merged_avg_df['p_avg_2020_to_2025'].max() - merged_avg_df['p_avg_2020_to_2025'].min())

merged_avg_df['GNINorm'] = 1 - (merged_avg_df['gni_avg_2020_to_2025'] - merged_avg_df['gni_avg_2020_to_2025'].min()) / (merged_avg_df['gni_avg_2020_to_2025'].max() - merged_avg_df['gni_avg_2020_to_2025'].min())

merged_avg_df['LifeNorm'] = 1 - (merged_avg_df['le_avg_2020_to_2025'] - merged_avg_df['le_avg_2020_to_2025'].min()) / (merged_avg_df['le_avg_2020_to_2025'].max() - merged_avg_df['le_avg_2020_to_2025'].min())

merged_avg_df['Score'] = (merged_avg_df['PopNorm'] + merged_avg_df['GNINorm'] + merged_avg_df['LifeNorm']) / 3

merged_avg_df.sort_values('Score', ascending=False).iloc[0:10]

,gni_avg_2020_to_2025,le_avg_2020_to_2025,p_avg_2020_to_2025,PopNorm,GNINorm,LifeNorm,Score
country,,,,,,,
Mozambique,498.50,59.65,33483333.33,0.79,0.69,0.46,0.65
Somalia,322.67,59.47,17883333.33,0.40,0.90,0.48,0.59
Central African Republic,532.00,53.43,5690000.00,0.09,0.66,1.00,0.58
Afghanistan,524.17,64.40,41716666.67,1.00,0.67,0.05,0.57
Niger,627.17,63.68,26750000.00,0.62,0.55,0.11,0.43
Burundi,232.00,64.98,13066666.67,0.28,1.00,0.00,0.43
Chad,627.00,61.42,18000000.00,0.40,0.55,0.31,0.42
Burkina Faso,810.83,63.02,22966666.67,0.53,0.34,0.17,0.34
Sierra Leone,530.00,63.15,8700000.00,0.17,0.66,0.16,0.33
Mali,870.17,63.08,22966666.67,0.53,0.27,0.16,0.32

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...