# Project Title
---

Group Name

Team members:
- Husain Radhi
- Hussain Darwish

## Introduction 
__Introduction to the topic__ 

The healthcare and welfare widely varies based on country. We were tasked by the World Health Organization to find out which countries are in most need of healthcare based on databases they provided which include population, life expectency and Gross National Income per capita

---

## Problem Statement

Which countries are in dire need for improving healthcare to increase their life expectency?

## Objectives:
__Questions that will guide the analysis to solve the problem__
1) Which countries have low life expectency?
2) Which countries have a high population and low life expectency?
3) How can we analyze and visualize the countries which need healthcare support?

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

In [1]:
import pandas as pd

In [3]:
p_df= pd.read_csv("population.csv")
le_df=pd.read_csv("life_expectancy.csv")
gni_df= pd.read_csv("gni_per_cap_atlas_method_con2021.csv")

In [5]:
p_df.dtypes

country    object
1800       object
1801       object
1802       object
1803       object
            ...
2096       object
2097       object
2098       object
2099       object
2100       object
Length: 302, dtype: object

In [7]:
p_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
4,United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
193,Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
194,South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
195,Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
196,Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [53]:
p_df.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
count,197,197,197,197,197,197,197,197,197,197,...,196,196,196,196,196,196,196,196,196,196
unique,164,183,186,185,179,185,180,181,180,180,...,190,195,186,190,190,185,187,187,182,189
top,2.5M,2M,2.01M,2.01M,2.02M,2.02M,2.03M,2.03M,2.04M,2.04M,...,108M,108M,109M,109M,6.61M,1.68M,110M,17M,13.2M,13.2M
freq,6,4,3,3,4,4,3,3,5,4,...,2,2,2,2,3,3,2,3,3,2

In [33]:
p_df.set_index("country", inplace=True) #setting the country as the index

In [35]:
p_df #viewing the dataframe with the country as the index

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,416k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,1.5M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,856k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [55]:
p_df.isnull().values.any()

True

In [61]:
p_df.isnull().sum() #checking if there are columns with nulls

1800    0
1801    0
1802    0
1803    0
1804    0
       ..
2096    1
2097    1
2098    1
2099    1
2100    1
Length: 301, dtype: int64

In [59]:
p_df.isnull().sum().sum() #summing all null values

100

In [65]:
p_df[p_df.isnull().any(axis=1)] #filtering the rows with null values

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Holy See,905,905,905,905,905,905,905,905,905,905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
p_df.drop("Holy See", inplace=True) #dropping Holy See country (row) as it has null values
display(p_df)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,416k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,1.5M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,856k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [81]:
p_df.isnull().sum().sum() #checking if there are nulls again by summing all of them

0

In [85]:
def conv(num):
    ''' Creating a function that replaces "M", "k", and "B" symbols with an empty string then multiplies the remaining number in the cell with the
    corresponding symbol value (k = 1000 for e.g.)'''
    x=0
    if 'M' in num:
        x=float(num.replace('M',''))*1000000
    elif 'k' in num:
        x=float(num.replace('k',''))*1000
    elif 'B' in num:
        x=float(num.replace('B',''))*1000000000
    else:
        x=float(num)
    return x

In [87]:
for name in p_df: #loop to apply the function to each value by column, it also prints column name to see if there are errors
    print(name)
    p_df[name] = p_df[name].apply(conv)

1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100

In [103]:
p_df["2025"].describe()

count    1.960000e+02
mean     4.169104e+07
std      1.503096e+08
min      1.160000e+04
25%      2.210000e+06
50%      9.430000e+06
75%      3.165000e+07
max      1.450000e+09
Name: 2025, dtype: float64

In [101]:
p_df[["2025"]].sort_values(by="2025")

                       2025
country
Tuvalu         1.160000e+04
Nauru          1.300000e+04
Palau          1.800000e+04
San Marino     3.360000e+04
Monaco         3.610000e+04
...                     ...
Pakistan       2.500000e+08
Indonesia      2.820000e+08
United States  3.440000e+08
China          1.420000e+09
India          1.450000e+09

[196 rows x 1 columns]

In [199]:
gni_df= pd.read_csv("gni_per_cap_atlas_method_con2021.csv")

In [201]:
gni_df.dtypes

country     object
1800       float64
1801       float64
1802       float64
1803       float64
            ...
2046        object
2047        object
2048        object
2049        object
2050        object
Length: 252, dtype: object

In [203]:
gni_df.set_index("country", inplace=True)

In [205]:
gni_df[gni_df.isnull().any(axis=1)]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
gni_df.drop("Liechtenstein",inplace=True)

In [209]:
display(gni_df)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,...,751,767,783,800,817,834,852,870,888,907
Angola,517.0,519.0,522.0,524.0,525.0,528.0,531.0,533.0,536.0,537.0,...,2770,2830,2890,2950,3010,3080,3140,3210,3280,3340
Albania,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,...,9610,9820,10k,10.2k,10.5k,10.7k,10.9k,11.1k,11.4k,11.6k
United Arab Emirates,738.0,740.0,743.0,746.0,749.0,751.0,754.0,757.0,760.0,763.0,...,47.9k,48.9k,50k,51k,52.1k,53.2k,54.3k,55.5k,56.7k,57.9k
Argentina,794.0,797.0,799.0,802.0,805.0,808.0,810.0,813.0,816.0,819.0,...,12.8k,13.1k,13.4k,13.6k,13.9k,14.2k,14.5k,14.8k,15.2k,15.5k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,373.0,373.0,373.0,373.0,373.0,373.0,373.0,374.0,374.0,374.0,...,5330,5440,5560,5670,5790,5920,6040,6170,6300,6440
Yemen,197.0,198.0,198.0,199.0,199.0,200.0,200.0,201.0,202.0,202.0,...,1440,1470,1500,1530,1560,1590,1630,1660,1700,1730
South Africa,800.0,791.0,782.0,773.0,765.0,724.0,724.0,786.0,687.0,672.0,...,7630,7790,7960,8130,8300,8480,8660,8840,9030,9220
Zambia,213.0,214.0,215.0,215.0,215.0,216.0,216.0,217.0,217.0,218.0,...,1260,1290,1320,1340,1370,1400,1430,1460,1490,1520
Zimbabwe,443.0,444.0,444.0,445.0,445.0,446.0,446.0,446.0,447.0,448.0,...,1560,1590,1620,1660,1690,1730,1770,1800,1840,1880

In [211]:
gni_df = gni_df.astype(str) #I converted the data types to strings as you get an error if you use the function on float data types (if I convert them to objects they will also be treated as float64)

In [213]:
gni_df.dtypes

1800    object
1801    object
1802    object
1803    object
1804    object
         ...
2046    object
2047    object
2048    object
2049    object
2050    object
Length: 251, dtype: object

In [215]:
for name in gni_df: #loop to apply the function to each value by column, it also prints column name to se
    print(name)
    gni_df[name] = gni_df[name].apply(conv)

1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050

In [217]:
gni_df.dtypes

1800    float64
1801    float64
1802    float64
1803    float64
1804    float64
         ...
2046    float64
2047    float64
2048    float64
2049    float64
2050    float64
Length: 251, dtype: object

In [221]:
gni_df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,...,751.0,767.0,783.0,800.0,817.0,834.0,852.0,870.0,888.0,907.0
Angola,517.0,519.0,522.0,524.0,525.0,528.0,531.0,533.0,536.0,537.0,...,2770.0,2830.0,2890.0,2950.0,3010.0,3080.0,3140.0,3210.0,3280.0,3340.0
Albania,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,207.0,...,9610.0,9820.0,10000.0,10200.0,10500.0,10700.0,10900.0,11100.0,11400.0,11600.0
United Arab Emirates,738.0,740.0,743.0,746.0,749.0,751.0,754.0,757.0,760.0,763.0,...,47900.0,48900.0,50000.0,51000.0,52100.0,53200.0,54300.0,55500.0,56700.0,57900.0
Argentina,794.0,797.0,799.0,802.0,805.0,808.0,810.0,813.0,816.0,819.0,...,12800.0,13100.0,13400.0,13600.0,13900.0,14200.0,14500.0,14800.0,15200.0,15500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,373.0,373.0,373.0,373.0,373.0,373.0,373.0,374.0,374.0,374.0,...,5330.0,5440.0,5560.0,5670.0,5790.0,5920.0,6040.0,6170.0,6300.0,6440.0
Yemen,197.0,198.0,198.0,199.0,199.0,200.0,200.0,201.0,202.0,202.0,...,1440.0,1470.0,1500.0,1530.0,1560.0,1590.0,1630.0,1660.0,1700.0,1730.0
South Africa,800.0,791.0,782.0,773.0,765.0,724.0,724.0,786.0,687.0,672.0,...,7630.0,7790.0,7960.0,8130.0,8300.0,8480.0,8660.0,8840.0,9030.0,9220.0
Zambia,213.0,214.0,215.0,215.0,215.0,216.0,216.0,217.0,217.0,218.0,...,1260.0,1290.0,1320.0,1340.0,1370.0,1400.0,1430.0,1460.0,1490.0,1520.0
Zimbabwe,443.0,444.0,444.0,445.0,445.0,446.0,446.0,446.0,447.0,448.0,...,1560.0,1590.0,1620.0,1660.0,1690.0,1730.0,1770.0,1800.0,1840.0,1880.0

In [223]:
le_df=pd.read_csv("life_expectancy.csv")

In [225]:
le_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,75.5,75.7,75.8,76.0,76.1,76.2,76.4,76.5,76.6,76.8
1,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.8,79.0,79.1,79.2,79.3,79.5,79.6,79.7,79.9,80.0
2,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.2,88.3,88.4
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,...,82.4,82.5,82.6,82.7,82.8,82.9,83.0,83.1,83.2,83.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,...,79.8,79.9,80.0,80.1,80.3,80.4,80.5,80.6,80.7,80.8
191,Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,76.9,77.0,77.1,77.3,77.4,77.5,77.6,77.8,77.9,78.0
192,South Africa,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,...,76.4,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.5,77.7
193,Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,75.8,76.0,76.1,76.3,76.4,76.5,76.7,76.8,77.0,77.1
194,Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,73.3,73.4,73.5,73.7,73.8,73.9,74.0,74.2,74.3,74.4

In [253]:
le_df.set_index("country", inplace=True)

In [255]:
le_df.isnull().sum()

1800    9
1801    9
1802    9
1803    9
1804    9
       ..
2096    9
2097    9
2098    9
2099    9
2100    9
Length: 301, dtype: int64

In [257]:
le_df[le_df.isnull().any(axis=1)]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dominica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
St. Kitts and Nevis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
le_df.drop(["Andorra", "Dominica", "St. Kitts and Nevis", "Monaco", "Marshall Islands", "Nauru", "Palau", "San Marino", "Tuvalu"], axis=0, inplace=True) #dropping countries with nulls

In [265]:
le_df[le_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, ...]
Index: []

[0 rows x 301 columns]

In [267]:
le_df #checking the databse again

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,28.1,...,75.5,75.7,75.8,76.0,76.1,76.2,76.4,76.5,76.6,76.8
Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.8,79.0,79.1,79.2,79.3,79.5,79.6,79.7,79.9,80.0
Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.2,88.3,88.4
United Arab Emirates,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,...,82.4,82.5,82.6,82.7,82.8,82.9,83.0,83.1,83.2,83.3
Argentina,33.2,33.2,33.2,33.2,33.2,33.2,33.2,33.2,33.2,33.2,...,86.2,86.3,86.5,86.5,86.7,86.8,86.9,87.0,87.1,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,...,79.8,79.9,80.0,80.1,80.3,80.4,80.5,80.6,80.7,80.8
Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,76.9,77.0,77.1,77.3,77.4,77.5,77.6,77.8,77.9,78.0
South Africa,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,...,76.4,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.5,77.7
Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,75.8,76.0,76.1,76.3,76.4,76.5,76.7,76.8,77.0,77.1
Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,73.3,73.4,73.5,73.7,73.8,73.9,74.0,74.2,74.3,74.4

In [269]:
le_df.isnull().sum().sum() #checking the number of nulls in the whole database to make sure they are gone

0

### Data Handling: 
__Cleaning, transforming, and combining data__

### Analysis: 
__Answering the objectives through data analysis__

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...